.wrapper{

}
.list{
  display: grid;
  grid-template-columns: repeat(4,1fr);
  gap: 10px;
}
.item{
  box-shadow: 2px 2px 6px 4px gray;
  padding: 20px;
  list-style: none;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap:4px;

  span{
    color:blue;
    font-size: 2rem
  }

  button{
    border: none;
    padding: 4px 12px;
    background-color: teal;
    color:white;
  }
  button:hover{
    background-color: red;
    color: black;
  }

}