.wrapper{
  display: flex;
  justify-content: space-between;
  gap: 20px;
  padding: 10px 20px;
  background-color: teal;
  color: white;
  font-size: 2rem;
  font-weight: bold;
  align-items: center;
}
.outletWrapper{
  padding: 0 15px;
}

.navList {
  display: flex;
  gap:20px;
  list-style: none;
  li{
    a{
      color:white;
      text-decoration: none;
      transition: color 0.3s ease ;
      &:hover{
        color:red;
      }
   
    }
  }
}